h1 電車運行状況一覧

h2 お気に入り路線の遅延・運転見合わせ
== render 'train_informations_table', train_informations: @favortite_train_tnformations

h2 すべての路線の遅延・運転見合わせ
== render 'train_informations_table', train_informations: @all_train_informations